#container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 600px;
  flex-direction: column;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.controls {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.btn-level {
  width: 50px;
}

h4 {
  font-weight: 500;
}

.timer-display {
  display: flex;
  flex-direction: column;
  border: 7px solid #13353a;
  width: 50%;
  margin-top: 2rem;
  border-radius: 25%;

}

.time-left {
  font-size: 80px;
}

.timer-control {
  margin-top: 1rem;
}

.indicator {
  padding: 1rem;
}